.botonAnimado{

    position: relative;
    animation-name: animacion1;
    -moz-animation-name: animacion1;
    -ms-animation-name: animacion1;
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
}

@keyframes animacion1{

    0%{
        left: -1000px;
    }  
    100%{
        left: 0px;
    }
}