header{
    height: 100vh;
    background-image: url("../imagenes/compu.jpg");
    background-position-y: center;
    background-size: cover;
}

section{
    border-bottom: 3px solid #d16007;
}

h1{
    padding-top: 8%;
    font-weight: 600;
}

h3{
    font-weight: 600;
    padding-top: 3%;
}

h2{
    text-decoration: underline;
}

.boton{
    color: #fff;
    background-color: #b83008;
    opacity: 0.8;
    border: 3px solid #d16007;
    font-size: large;
    font-weight: 800;
}

.boton:hover{
    color: white;
    background-color: #b83008;   
    opacity: 1;
    transition-duration: 400ms;
}

nav{
    border-bottom-style: solid;
    border-bottom-color: #b83008;
}

li:hover{

    background-color: #b83008;
    border-radius: 10%;

}

.linkProyecto:hover{
    color: #fff;
    text-decoration: none;
    background-color: #b83008;
    border-radius: 5%;
}

.marginParrafo{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.padding{
    padding-left: 7%
}

.borde{
    border: 1.5px solid #fff;
}

.icono{
    font-size: 40px;
    transition-duration: 800ms;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}

.linkedin{
    color: #0077b5;
}


.insta{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
                /* Also define standard property for compatibility */
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.github{
    color: white;
}

/*Transformaciones: Comienzan y terminan*/
.icono:hover{
    transform: scale(1.1); /*te agranda la imagen*/
    transition-duration: 400ms; /*La agranda un poco mas despacio*/  
}

.textoIconos{
    padding-left: 17%
}

.proyectoBorde{
    
    transition-duration: 800ms;
    
}

.proyectoBorde:hover{
    border: 2px solid #d16007;
    opacity: 0.8;
    transform: scale(1.02);
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}

textarea{
    resize: none; /*Para que el usuario no pueda modificar el tamaño del textarea*/
}

.footer{
    background-color: gray;
    color: white;
    height: 220px;
}

a:hover {
    text-decoration: none;
}

.botonAnimado{

    position: relative;
    animation-name: animacion1;
    -moz-animation-name: animacion1;
    -ms-animation-name: animacion1;
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
}

@keyframes animacion1{

    0%{
        left: -1000px;
    }  
    100%{
        left: 0px;
    }
}

