header{
    height: 100vh;
    background-image: url("../imagenes/compu.jpg");
    background-position-y: center;
    background-size: cover;
}

h1{
    padding-top: 8%;
    font-weight: 600;
}

h3{
    font-weight: 600;
    padding-top: 3%;
}

h2{
    text-decoration: underline;
    margin-top: 10%  
}

.boton{
    color: #fff;
    background-color: #b83008;
    opacity: 0.8;
    border: 3px solid #d16007;
    font-size: large;
    font-weight: 800;
}

.boton:hover{
    color: white;
    background-color: #b83008;   
    opacity: 1;
    transition-duration: 400ms;
}

nav{
    border-bottom-style: solid;
    border-bottom-color: #b83008;
}

li:hover{

    background-color: #b83008;
    border-radius: 10%;

}

.linkProyecto:hover{
    color: #fff;
    text-decoration: none;
    background-color: #b83008;
    border-radius: 5%;
}

.padding{
    padding-left: 7%
}

.icono{
    font-size: 50px;
    transition-duration: 800ms;
}

/*Transformaciones: Comienzan y terminan*/
.icono:hover{
    transform: scale(1.2); /*te agranda la imagen*/
    transition-duration: 400ms; /*La agranda un poco mas despacio*/  
}

.textoIconos{
    padding-left: 17%
}

.proyectoBorde{
    
    transition-duration: 800ms;
    
}

.proyectoBorde:hover{
    border: 2px solid #d16007;
    opacity: 0.8;
    transform: scale(1.02);
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}

textarea{
    resize: none; /*Para que el usuario no pueda modificar el tamaño del textarea*/
}

.footer{
    background-color: #333333;
    color: white;
    height: 220px;
}


